.box-sizing-element {
    box-sizing: border-box;
    width: 250px;
    height: 100px;
    padding: 20px;
    border: 2px solid black;
    background-color: lightblue;
    margin-bottom: 20px;
  }
  
  .no-box-sizing-element {
    width: 250px;
    height: 100px;
    padding: 20px;
    border: 2px solid black;
    background-color: lightgreen;
    margin-bottom: 20px;
  }
  