* {
    padding: 0;
}

body{
    height: auto;
    max-width: 1700px;
    margin: auto;
}

.content {
    display: flex;
    width: 100%;
    position: relative;
}

.content img {
    width: 100%;
    background-size: cover;  
    background-repeat: no-repeat;
} 

.top_content {
    position: absolute;
    top: 5%;
    left: 5%;
}

.top_content h1{
    color: #bfa065;
    font-size: 76px;
    font-weight:bolder;
    padding-top: 50px;
}

.top_content p {
    padding-top: 50px;
    width: 60%;
    font-weight: 300;
    font-size: 1.3rem;
    color: #808080;
}

.content button {
    color: #808080;
    margin-top: 50px;
    padding: 10px 30px;
    border-width: 2px;
    border-radius: 50px;
    border-style: solid;
    border-color: #bfa065;
    font-size: 1rem;
    letter-spacing: 1px;
    background: none;
} 

.containers {
  margin: auto;
}

.boxes {
    display: flex;
    position: absolute;
    min-width: 100%;
    left:50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    margin-top: -6rem;
    gap: 30px;
    justify-content: center;
}

.boxes h2 {
    text-align: center;
}

.boxes p {
    padding: 0 20px;
    color: #808080;
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
    margin: auto;
    width: 70%;
}

.boxes .left_box, .middle_box, .right_box {
    width: 450px;
    min-height: 250px;
    padding: 20px 0;
    background-color: #ffffff;
}

.grey_box {
    box-sizing: border-box;
    background-color: #f2f2f2;
    min-height: 370px;
}

.container2 {
    margin: auto;
    box-sizing: border-box;
    min-height: 868px;
}

.text_content{
    margin:auto;
    box-sizing: border-box;
    justify-content: center;
    width: 660px;
    text-align: center;
    background-color: #ffffff;
    padding: 50px 0;
}

.text_content h1 {
    font-weight: 700;
}

.text_content p {
    font-size: 1.2rem;
}

.row_food_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;                 
    background-color: #ffffff;
    gap: 10px;
}

.row_food_images img {
    object-fit: cover;
    background-size:cover;
    height: 300px;
    width: 25%;
}

.container2 .row_food_images img {
    background-color: #ffffff;

} 

.container3 {
    position: relative;
    box-sizing: border-box;
    margin-top: 6rem;
    background-color: #f2f2f2;
    padding: 30px;
}

.text_content2 {
    box-sizing: border-box;
    width: 100%;
}

.text_content2 h1 {
    text-align: center;
    padding-top: 40px;
}

.text_content2 p {
    margin: auto;
    width: 65%;
    text-align: center;
    font-size: 1.2rem;
}

.container3 .text_container {
    display: flex;
    position: relative;
    justify-content: center;
}

.text_container .text {
    padding: 50px;
}

.text_container .text p{
    width: 180px;
    color: #808080; 
    font-style: italic;
}

.container3 button {
    margin: auto;
    display: block;
    margin-bottom: 30px;
    color: #808080;
    padding: 10px 30px;
    border-width: 2px;
    border-radius: 50px;
    border-style: solid;
    border-color: #bfa065;
    font-size: 1rem;
    letter-spacing: 1px;
    background: none;
    
} 

.container4 {
    display: flex;
    justify-content: center;    
    align-items: center;  
    padding: 30px;
}

.container41 {
    display: flex;
}

.container41 img {
    width: 270px;
    height: 270px;
    padding: 0 30px;
}

.container41 .box2, .box4{
    box-sizing: border-box;
    border: solid #bfa065;
    border-width: 2px;
    width: 270px;
    height: 270px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container41 .box2 h2{
    padding-top: 25px;
}

.container41 .box2 p{
    padding-top: 10px;
}

.container5 {
    display: flex;
    position: relative;
    background-color: #f2f2f2;
}

.container5 img{
    object-fit: cover;
    width: 50%;
}

.container5 .last_content{
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    padding-left: 50px;
}

.container5 .last_content p{
    margin: 0px;
    width: 80%;
}

.container5 button {
    color: #808080;
    margin-top: 20px;
    padding: 10px 30px;
    border-width: 2px;
    border-radius: 50px;
    border-style: solid;
    border-color: #bfa065;
    font-size: 1rem;
    letter-spacing: 1px;
    background: none;
}

.footer {
    text-align: center;
    box-sizing: border-box;
    color: #ffffff;
    background-color: #333333;
    margin: auto;
    padding: 50px;
    text-decoration: none;
}

.footer a {
    color: #ebd8c1;
}

/* desktop small to medium-sized desktop screens and larger laptops */
@media screen and (min-width: 992px) and (max-width: 1500px) {
    body {
      width: 1040px;
    }
  
    .content img{
      height: 650px;
      width: 100%;
    }

    .top_content h1 {
        font-size: 4.75rem;
    }
    
    .top_content p {
      margin: 0;
      padding: 0;
      font-size: 1.1rem;
      width: 50%;
    }

  .top_content button {
    margin-top: 40px;
    }

  .containers .boxes{
      margin-top: -6rem;
      align-items: center;
      min-width: 1100px;
      gap: 0px;
  }

  .containers .boxes .left_box {
      margin: 20px;
      width: 26%;
      padding: 0%;
    }

  .boxes .left_box h2{
    margin: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .boxes .left_box p{
    text-align: center;
  }
    
  .middle_box {
      width: 26%;
      margin: 20px;
      padding: 0%;
    }
  
  .boxes .middle_box h2{
      margin: 10px;
    }

  .boxes .middle_box p{
      text-align: center;
    }
    
  .boxes .right_box {
      width: 26%;
      margin: 20px;
      padding: 0%;
    }

  .boxes .right_box h2{
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: 20px;
      margin-right: 20px;
    }

  .boxes .right_box p{
      text-align: center;
    }

  .grey_box {
      min-height: 300px;
    }

  .container2 .text_content{
      padding-top: 10px;
      width: 100%;
    }

  .container2 .text_content h1{
    font-size: 40px;
  }

  .container2 .text_content p {
      text-align: center;
      width: 50%;
      margin: auto;
    }

  .container2 .row_food_images img {
    height: 300px;
    width: 300px;
  }

  .container3 .text_content2 h1 {
    margin-top: -1rem;
    font-size: 40px;
  }

  .container3 .text_content2 p {
    width: 90%;
  }

  .container3 .text_container {
    display: flex;
    flex-wrap: nowrap;
  }

  .container3 .text_container .text {
    flex: 25%;
    max-width: 25%;
  }

  .container3 .text_container .text h3{
    font-size: 20px;
  }

  .container3 .text_container .text p{
    width: 138px;
    margin: 20px auto 0;
    font-size: large;
  }

  .container4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .container41 {
    margin: 0;
    justify-content: center;
    gap: 20px;
  }

  .container41 img {
    width: 200px;
    height: 300px;
  }

  .container41 .box2{
    width: 200px;
    height: 300px;
    padding-left: 19px;
    padding-right: 19px;
  }

  .box2 h2, p {
    text-align: left;
  }

  .container5 {
    min-height: 500px;
  }

  .container5 img{
    height: 650px;
    object-fit: cover;
  }

  .container5 .last_content{
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-left: 50px;
  }

  .container5 .last_content h1{
    width: 70%;
  }

  .container5 .last_content p{
    text-align: justify;
  }

  .container5 button {
    margin: 5rem 0;
  }

}

/* smaller laptops, medium-sized tablets, and larger smartphones in landscape mode */
@media screen and (min-width:766px) and (max-width: 991px) {
    .content img {
        object-fit: cover;
        background-size: cover;
        height: 600px;
    }

    .top_content h1 {
        font-size: 4.5rem;
    }
    
    .top_content p {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        width: 50%;
    }

    .containers .boxes{
        margin-top: -4rem;
    }

    .containers .boxes .left_box {
        min-height: 315px;
        margin: 20px;
        padding: 0%;
      }

      .boxes .left_box h2{
        margin: 10px;
      }
    
      .boxes .left_box p{
        padding: 0%;
        text-align: center;
      }

      .middle_box {
        min-height: 315px;
        margin: 20px;
        padding: 0%;
      }

      .boxes .middle_box h2{
        margin: 10px;
      }
  
    .boxes .middle_box p{
        padding: 0%;
        text-align: center;
      }  

      .right_box {
        min-height: 315px;
        margin: 20px;
        padding: 0%;
      }

      .boxes .right_box h2{
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
      }
  
    .boxes .right_box p{
        padding: 0%;
        text-align: center;
      }

      .container2 .text_content {
        padding-left: 38px;
        padding-right: 38px;
      }

      .container2 .text_content p {
        margin: auto;
        max-width: 500px;
        word-wrap: break-word;
      }

      .container2 .row_food_images img {
        height: 350px;
      }

      .container3 .text_content2 h1 {
        margin-top: 9px;
        margin-left: 1px;
        margin-right: 1px;
      }

      .container3 .text_container {
        display: flex;
        flex-wrap: wrap;
      }

      .container3 .text_container .text {
        flex: 25%;
        max-width: 25%;
      }

      .container3 .text_container .text p{
        width: 138px;
        margin: 20px auto 0;
      }

      .container4 {
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      .container41 {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
      }

      .container41 img {
        width: 300px;
        height: 230px;
      }

      .container41 .box2{
        width: 325px;
        height: 230px;
        padding-left: 19px;
        padding-right: 19px;
      }

      .box2 h2, p {
        text-align: left;
      }

      .container5 {
        min-height: 332px;
      }

      .container5 img{
        object-fit: cover;
      }

      .container5 .last_content{
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
        padding-left: 50px;
    }

      .container5 .last_content h1{
        width: 80%;
      }

    .container5 button {
        margin: 5rem 0;
    }
}

/* smaller tablets and smartphones in landscape mode  */
@media screen and (min-width:576px) and (max-width: 767px) {
    .content img {
        object-fit: cover;
        background-size: cover;
        width: 837px;
        height: 700px;
    }
    
    .top_content h1 {
        font-size: 3.75rem;
    }
    
    .top_content p {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        width: 50%;
    }

    .top_content button {
        margin-top: 20px;
    }

    .containers .boxes{
        display: flex;
        flex-direction: column;
        margin-top: -10rem;
        align-items: center;
        gap: 0px;
    }

    .containers .boxes .left_box {
        margin-top: 20px;
        width: 60%;
        padding: 0%;
      }
      
      .middle_box {
        width: 60%;
        margin: 20px;
        padding: 0%;
      }
      
      .right_box {
        width: 60%;
        margin: 20px;
        padding: 0%;
      }

      .grey_box {
        height: 55rem;
      }

      .container2 {
        min-height: 1183px;
        width: 540px;
      }

      .container2 .text_content{
        width: 500px;
      }

      .container2 .text_content p {
        width: 70%;
        text-align: center;
        margin: auto;
      }

      .container2 .row_food_images{
        display: flex;
        flex-direction: column;
      }

      .container2 .row_food_images img{
        width: 100%;
      }

      .container3 .text_container {
        display: flex;
        flex-wrap: wrap;
      }

      .container3 .text_container .text {
        flex-direction: column;
        flex: 100%;
        max-width: 100%;
        padding: 0%;
        padding-left: 14px;
        padding-right: 14px
      }

      .container3 .text_container .text p{
        width: 110px;
        margin: 20px auto 0;
      }

      .container3 button{
        margin-top: 4rem;
      }

      .container4 {
        display: flex;
        margin-top: 2rem;
        margin-bottom: 2rem;
      }

      .container41 {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
      }

      .container41 img {
        width: 80%;
        height: 250px;
        padding: 0%;
      }

      .container41 .box2{
        width: 80%;
        height: 180px;
        padding-left: 19px;
        padding-right: 19px;
      }

      .box2 h2, p {
        text-align: left;
      }

      .container5 {
        display: flex;
        flex-direction: column;
      }

      .container5 img{
        min-height: 461px;
        width: 100%;
      }

      .container5 .last_content{
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
        padding-left: 50px;
    }

      .container5 .last_content h1{
        width: 80%;
      }

    .container5 button {
        margin: 5rem 0;
    }
}

/* smaller smartphones in portrait mode  */
@media screen and (min-width: 300px) and (max-width: 575px) {
    body{
        width: 440px;
    }

    .content {
      background-position: 35.39% 50%;
    }

    .content img {
        height: 890px;
        object-fit: cover;
        background-size: cover;
    }
    
    .top_content h1 {
        margin-top: 6rem;
        font-size: 3rem;
    }
    
    .top_content p {
        margin: 40px 0 0;
        padding: 0;
        text-align: justify;
        font-size: 1.2rem;
        width: 60%;
    }

    .top_content button {
      margin-top: 40px;
  }

  .containers .boxes{
      display: flex;
      flex-direction: column;
      margin-top: -20rem;
      align-items: center;
      gap: 0px;
  }

  .containers .boxes .left_box {
      margin-top: 20px;
      width: 60%;
      padding: 0%;
    }
    
    .middle_box {
      width: 60%;
      margin: 20px;
      padding: 0%;
    }
    
    .right_box {
      width: 60%;
      margin: 20px;
      padding: 0%;
    }

    .grey_box {
      height: 55rem;
    }

    .container2 .text_content{
      width: 500px;
    }

    .container2 .text_content p {
      text-align: center;
      width: 60%;
      margin: auto;
    }

    .container2 .row_food_images{
      display: flex;
      flex-direction: column;
    }

    .container2 .row_food_images img{
      margin: auto;
      width: 300px;
      height: 300px;
    }

    .container3 .text_container {
      display: flex;
      flex-wrap: wrap;
    }

    .container3 .text_content2 p{
      margin: auto;
      width: auto;
      padding-left: 10px;
      padding-right: 10px;
    }

    .container3 .text_container{
      padding-top: 30px;
    }

    .container3 .text_container .text {
      flex-direction: column;
      flex: 100%;
      max-width: 100%;
      padding: 0%;
      padding-left: 14px;
      padding-right: 14px
    }

    .container3 .text_container .text p{
      width: 110px;
      margin: 20px auto 0;
    }

    .container3 button{
      margin-top: 6rem;
    }

    .container4 {
      display: flex;
      margin-bottom: 2rem;
    }

    .container41 {
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }

    .container41 img {
      width: 350px;
      height: 220px;
      padding: 0%;
    }

    .container41 .box2{
      width: 350px;
      height: 220px;
      padding-left: 19px;
      padding-right: 19px;
    }

    .box2 h2, p {
      text-align: left;
    }

    .container5 {
      display: flex;
      flex-direction: column;
    }

    .container5 img{
      width: 100%;
    }

    .container5 .last_content{
      align-items: center;
      justify-content: center;
      padding-top: 1rem;
      padding-left: 50px;
  }

    .container5 .last_content h1{
      font-size: 180%;
      width: 100%;
    }

    .container5 .last_content p{
      text-align: justify;
    }    

  .container5 button {
      margin: 5rem 0;
  }
}






/* mobile phones (landscape mode)  */
/* @media screen and (min-width: 568px) and (max-width:667px) {

} */
